body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    text-align: justify;
    font-style: normal, bold;
    font-variant: normal;
    font-weight: 300, 400, 700, 800;
    line-height: normal;
}

/* Clases de moodle */

.mod-indent-outer, .region-main-box, .container, .img-text {
    padding: 0 !important;
}

/* Fin clases de moodle */

.contenedor {
    width: 960px;
    height: 540px;
    margin: 0 auto;
    background-image: url('../images/fondo.png');
    position: relative;
    /* border: 1px solid rgb(0, 0, 0); */
}

.invisible {
    display: none;
}